/* Mathias Lohne, 2017 */

body {
	margin: 0px;
}

h1.mainTitle {
	font-family: Arial;
	font-weight: 200;
	margin: 0px;
	font-size: 30px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.element {
	width: 800px;
	position: relative;
	z-index: 0;
}

#header {
	height: 60px;
	width: 100%;
	background-color: #eaeaea;
	margin: 0px;
	padding: 20px 0px 10px 0px;
}

#topMenu {
	height: 50px;
	background-color: #f3f3f3;
	margin: 0px;
}

.topMenuMoving {
	position: relative;
	width: 100%;
}

.topMenuFixed {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1000;
}

.topMenuElement {
	float: left;
	width: 140px;
	height: 50px;
	margin: 0px;
	background-color: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-family: Arial;
	font-weight: 100;
}

.topMenuElement:hover {
	background-color: #d2d2d2;
}

#chapterMenu {
	width: 100%;
	display: block;
	height: 15pt;
}

#chapterMenuPrev {
	color: #777777;
	float: left;
}


#chapterMenuNext {
	color: #777777;
	float: right;
}