/* Mathias Lohne, 2017 */

html {
    font-size: 100%; 
}

body {
	overflow-y: scroll;
}

img {
	display: block;
	margin: 5px;
}

#footer {
	clear: both;
	font-size: 0.7em;
	font-weight: 200;
	color: #a7a7a7;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 100px;
}

h1 {
	font-size: 1.8em;
	font-family: Arial;
	font-weight: 200;
}

h2 {
	padding-top: 20pt;
	font-size: 1.5em;
	font-family: Arial;
	font-weight: 200;
}

h3 {
	padding-top: 10pt;
	font-size: 1.1em;
	font-family: Arial;
	font-weight: 200;
}

h4 {
	padding-top: 10pt;
	font-size: 1em;
	font-family: Arial;
	font-weight: 200;
}

p {
	font-size: 1em;
	font-family: serif;
}

code {
	font-size: 1em;
	color: #445544;
}


a {
	text-decoration: none;
	color: #3a3aca;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;	
}

figure {
	display: inline-block;
	border: 0px;
	margin: 20px; 
}

figure table {
	margin-left: auto;
	margin-right: auto;
}

img {
	float:left;
	width:250px;
}

figcaption {
	border: 0px;
	vertical-align: bottom;
	text-align: center;
}

a.noStyle {
	color: inherit;
	text-decoration: none;
}
