<h1>Code</h1>
<p>
	CSlib is a Matlab library with numerous examples and tools for constructing
	synthetic compressive sensing experiments. Most of the tools are related to
	imaging applications, where structured sampling is a key ingredient. The
	library is published as a supplement to the book "Compressed sensing: Structure
	and Imaging" by Adcock and Hansen. Among the main features are
</p>
<ul>
	<li> Various sampling patterns for both Fourier and Hadamard sampling.</li>
	<li> Examples of sampling and reconstruction operators.</li>
	<li> Complete compressive imaging examples with various sparsifying operators.</li>
</ul>
<h2>Download</h2>
<p>
	The code can be downloaded <a>here</a> or forked on <a href="https://bitbucket.org/vegarant/cslib/">bibtbucket</a>. If you find errors or 
	have other comments, please create a pull request or 
	send an e-mail to <a href="mailto:vegarant@math.uio.no">vegarant@math.uio.no</a>.
</p>
<h2>Installation</h2>
<p>
	As any noticeable project, CSlib is standing on the shoulders of giants. In
	particular it has the following dependencies:
</p>
<ul>
	<li> <a href="http://www.cs.ubc.ca/~mpf/spgl1/">SPGL1</a> - A solver for large-scale sparse reconstruction </li>
	<li> <a href="http://statweb.stanford.edu/~candes/nesta/">NESTA</a> -  A Fast and Accurate First-order Method for Sparse Recovery</li>
	<li> <a href="http://www3.math.tu-berlin.de/numerik/www.shearlab.org/">ShearLab</a> - Shearlets (ShearLab3D v1.1) </li>
	<li> <a href="http://www.curvelet.org/software.html">CurveLab</a> - Curvelets (CurveLab 2.1.3) </li>
	<li> <a href="https://bitbucket.org/vegarant/fastwht/">Fastwht</a> -  A fast implementation of of matlabs <code>fwht</code>-function (Optional)</li>
</ul>
<p> 
	In addition to this it is required to add the corresponding file-paths to Matlab's
	<code>startup.m</code> file. This can be done by running the script <code>install.m</code>.
</p>
<p>
	Most of the examples found in CSlib are created for the purpose of being used
	in the book by Adcock and Hansen. In order to make sure all font sizes, image 
	formats and colors are consistent these have been set to default values, 
	specified by the file <code>etc/set_defaults.m</code>. By running this script one creates 
    the file <code>var/cslib_defaults.mat</code>. This <code>.mat</code> file
    is  read by most other scripts in the CSlib library, so if it is not included
    in your distribution or you would like change some of the default formats, run
    the aforementioned file.
</p>
<h2>License</h2>
<p>
	CSlib is published under the GNU General Public License (GPL) version 3. In short this 
	means that you can to run, study, share and modify the code. 
	For more information see <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL webpage</a>
	or the file LICENSE.txt in the CSlib directory. 
</p>


