<h1>Sampling in imaging applications - Examples</h1>
<p>
	For most imaging applications the sampling operator is fixed by the imaging device.
	Standard examples range from Magnetic Resonance Imaging
	(MRI), surface scattering, Computerized Tomography (CT), all of which employ
	Fourier samples, to fluorescence microscopy and lensless imaging, using binary
	sampling. Common for all of these applications is the fact that most of the 
	images they obtain are not sparse in the sampling domain.  
</p>
<p>
	In compressive sensing there are two main approaches for recovering a signal 
	form an underdetermined system of linear equations. One could either try to
	minimize the total variation norm of the signal or one could try to recover the
	signal in another (sparser) domain, such as  wavelets, shearlets, curvelets or
	any other sibling in the $X$-let family. It is this latter approach which will
	be described below.
</p>
<h2>The mathematical setup</h2>
<p>
	We can divide the compressive imaging approach with recovery in a sparsifying
	domain into the following steps
</p>
<!-- Er det mulig med litt alignment i lista, f.eks tekst til venste og 
matten til høyre, om du skjønner hva jeg mener -->
<ol>
    <li> Sensing step: \[ \mathbf{P}_{\Omega}\mathbf{V} x = b \] </li>
    <li> Find the minimizer $z^{\sharp}$ of the optimization problem:
        \[ \text{minimize} ~ \lVert z \rVert_1 ~~~~ \text{subject to} ~~ \lVert \mathbf{P}_{\Omega}\mathbf{V}\boldsymbol{\Psi}^{-1} z - b \rVert_2 &lt; \eta  \]  </li>
    <li>  Reconstruct signal: \[ x^{\sharp} = \boldsymbol{\Psi}^{-1} z^{\sharp} \] </li> 
</ol>
<p>
	Where
</p>
\begin{align*}
    \mathbf{P}_{\Omega} \in \mathbb{R}^{m \times N} &\quad\quad\text{Projection matrix, } 
    \Omega \subset \{1, \ldots, N\}, ~|\Omega| = m \\
    \mathbf{V}  \in \mathbb{C}^{N \times N}  &\quad\quad\text{Sensing matrix } \to 
                                                  \text{ Hadamard or Fourier} \\
    \boldsymbol{\Psi} \in \mathbb{C}^{N \times N} &\quad\quad\text{Sparsifying matrix } \to X\text{-lets }
\end{align*}
<p>
	In the first step the signal $x$ is sampled by the operator $\mathbf{V}$. This operator
	will often be either a Fourier or Hadamard matrix for all of the applications
	mentioned above, but other choices are possible, such as a random Bernoulli
	matrices.  Since we are trying to recover $x$ from fewer measurements than
	suggested by the Shannon-Nyquist rate, we only select a subset $\Omega \subset
	\{1, \ldots, N\}$, of the original samples. The set $\Omega$ will be reffed to as 
	the sampling pattern, and it is worth noticing that the quality of recovered
	signal will be highly dependent on this pattern. 
</p>
<p>
	Given the Fourier or Hadamard samples $b$ we are searching for a solution of
	the underdetermined system $\mathbf{P}_{\Omega}\mathbf{V} z = b$. Such a system will have
	infinitely many solutions, so to limit the solution set, we assume the solution
	is sparse is a basis spanned by the columns of $\boldsymbol{\Psi}$. To find this sparse
	solution we solve the optimization problem
</p>
\[
	\text{minimize} ~ \lVert z \rVert_1 ~~~~ \text{subject to} ~~ \lVert \mathbf{P}_{\Omega}\mathbf{V}\boldsymbol{\Psi}^{-1} z - b \rVert_2 &lt; \eta
\]
<p>
	Notice here that by multiplying by $\boldsymbol{\Psi}^{-1}$ the recovered solution
	$z^{\sharp}$ is written i the sparsifying basis spanned by the columns of
	$\boldsymbol{\Psi}$. This is because $z^{\sharp} = \boldsymbol{\Psi} x^{\sharp}$ where $x^{\sharp}$ is
	the approximation to $x$ which we have recovered. Thus in the final step we
	need to write the coefficents $z^{\sharp}$ in the original domain i.e.
	$x^{\sharp} = \boldsymbol{\Psi}^{-1} z^{\sharp}$
</p>
<h2> Code examples </h2>
<p>
	The method described above have been programmed for both Fourier and Hadamard
	sampling with wavelet, shearlet and curvelet reconstruction and can be found in
	a sequence of files named <code>sample_(sampling operator)_(sparsifying
	operator).m</code>. We will not comment on all of them, but briefly go through
	<code>sample_hadamard_wavelet.m</code>. 
</p> 


