<h1>Welcome</h1>
<p>
This is a test page for the upcoming book "Compressed sensing: Structure and
Imaging", written by Ben Adcock and Anders Hansen. It will probably be published
in 2018, and until then this page will be under continuous development. It is
currently administered by Vegard Antun. 
</p>
<p>
The aim of this page is to supplement the book with images, code and examples
which are reproducible by the lay public. By making all source code available to 
whom might be interested, our hope that it will be easier to apply sparse
regularisation techniques in research or teaching. 
</p>

<p>
One of the fundamental problems compressive sensing is to solve the
optimization problem
\[ \underset{z \in \mathbb{C}}{\text{minmize}} \lVert z \lVert_1 ~~~ \text{ subject to } ~~~~
\lVert Az - b \lVert_{2} \leq \eta \]
for some matrix $ A \in \mathbb{C}^{m \times N} $ with $ m &lt; N $. 
To solve this probelm efficiently we rely on additional software, in particular 
the current version relies on the following matlab packages
</p>
<ul>
    <li> <a href="http://www.cs.ubc.ca/~mpf/spgl1/">SPGL1</a> -  
         A solver for large-scale sparse reconstruction </li>
    <li> <a href="https://statweb.stanford.edu/~candes/nesta/">NESTA</a> -  
         A Fast and Accurate First-order Method for Sparse Recovery </li>
</ul>
<p>  
For any question concerning this page please contact Vegard Antun at 
<a href="mailto:vegarant@math.uio.no">vegarant@math.uio.no</a>.
</p>
